[*.cs]

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = silent

# CA1416: Validate platform compatibility
dotnet_diagnostic.CA1416.severity = silent

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent
